.nav
{
	background: #dab334;
	border: 1px solid #dddddd;
}
main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}